# Source code
src/

# Tests
test/
coverage/
*.spec.ts
*.test.ts

# Build tools
tsconfig*.json
.eslintrc.js
.prettierrc
jest.config.js

# Git and GitHub
.git/
.github/
.gitignore

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Script files
scripts/
*.sh

# Environment files
.env
.env.*

# Misc
node_modules/
*.log
.DS_Store